* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* a {
	text-decoration: none;
	font-family: 'SUIT-Regular';
	font-weight: bold;
	color: inherit;
    text-decoration: none;
}

* a:hover {
            color: inherit; /* 마우스를 올렸을 때도 색상이 변하지 않도록 설정 */
            text-decoration: none; /* 마우스를 올렸을 때도 밑줄이 생기지 않도록 설정 */
        }

body, html {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
}

.nav-top {
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 90%;
	margin: 0 auto;
	align-items: center;
}

.nav-top-left img {
	width: 30px;
	height: auto;
}

.nav-top-left {
	width: 17%;
}

.nav-top-right {
	width: 17%;
}

.hidenav {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.3s;
	z-index: 25;
}

.hidenav.show {
	left: 0;
}

.hidenavcontent {
	margin-top: 100px;
}

.hidenavcontent ul {
	list-style-type: none;
	padding: 0;
}

.hidenavcontent ul li {
	padding: 8px 16px;
}

.hidenavcontent ul li a {
	color: black;
	text-decoration: none;
	display: block;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: black;
}

.subcategories {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

.subcategories.show {
	transition: max-height 0.5s ease-out;
}

.subcategories li {
	opacity: 0;
}

.category {
	cursor: pointer;
}

.nav-top-right button {
	width: 120px;
	height: 50px;
	background-color: transparent;
	border: 1px solid lightgray;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
}

.nav-top-right button:hover {
	background-color: lightgray;
	border: 1px solid lightgray;
	cursor: pointer;
}

.nav-top-center a {
	font-family: 'SUIT-Regular';
	font-weight: normal;
	font-style: normal;
}

/* ------- 로그인 시 mypage/loout 버튼이 생성되어서 추가한 css ------- */
#success-login {
	display:flex;
}

#mypage-btn {
	width: 100px;
	margin-right : 3px;
}

#logout-btn {
	width: 80px;
}

/* ------- 로그인 시 mypage/loout 버튼이 생성되어서 추가한 css ------- */

.main_content {
	margin: 0 auto;
	padding-top: 100px;
	background-color: skyblue;
	width: 100%;
	height: 480px;
	background-image: url('/img/mainbackground.jpg');
	background-size: cover;
	background-position: center;
}

.main_content h1 {
	margin-left: 50px;
	font-weight: bold;
	color: white;
}

.btn-search {
	margin: 50px 50px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	color: gray;
	border: 1px solid lightgray;
	height: 70px;
	width: calc(100% - 100px);
	font-size: 20px;
	cursor: pointer;
}

.search {
	position: relative;
}

.search button {
	cursor: pointer;
	font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
}

.btn-close {
	cursor: pointer;
	right: 10px;
	position: absolute;
	top: 10px;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	font-size: 30px;
}

.hidesearch {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 92%;
	background-color: #fff;
	z-index: 20;
	transition: bottom 0.3s ease-in-out;
}

.search-top {
	margin-top: 50px;
	color: #fff;
    font-size: 40px;
}

.search-best {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid lightgray;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 10;
	display: none;
	margin-top: 5px;
	min-height: 200px;
}

.people-picker h6{
	color: #474747;
    font-weight: 600;
    font-size: 11px;
}

.search-best p, .people-picker p {
    margin: 10px;
}

.show {
    display: block !important;
}


.people-picker {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    display: none;
    margin-top: 5px;
    height: 120px;
}

.people-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.people-controls button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.people-controls .people-count {
    font-size: 20px;
    margin: 0 10px;
}

.btn-date, .btn-people {
    position: relative;
}

.search-main {
	display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
}

.backimg {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	background-image: url('/img/backimg.jpg');
	background-size: cover;
	background-position: center;
}

.input-search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #f5f5f5;
    padding-left: 50px;
    font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
}

.search-best-history {
	margin: 10px;
}

.btn-date {
	width: 30%;
    border-radius: 10px;
    height: 45px;
}

.btn-date img {
	margin: 0 5px;
}

.btn-date button {
	display: flex;
	width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F5F5F5;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-family: 'SUIT-Regular';
    font-weight: bold;
    font-style: normal;
}

.btn-people {
	width: 20%;
    border-radius: 10px;
    height: 45px;
    align-content: center;
}

.btn-people img {
	margin: 0 5px;
}

#btn_people {
	display: flex;
	width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #F5F5F5;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-family: 'SUIT-Regular';
    font-weight: bold;
    font-style: normal;
}

.btn-searchright {
	width: 10%;
    border-radius: 10px;
    height: 45px;
    align-content: center;
}

.btn-searchright button {
	width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #1273E4;
    font-size: 15px;
    cursor: pointer;
    color: #fff
}

.btn-searchright button:hover {
	background-color: #0f68cf;
}

.input-search {
	display: flex;
    border-radius: 10px;
    width: 35%;
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 45px;
    align-items: center;
    position: relative;
}

.input-search img {
	margin: 15px;
	position: absolute;
}

.input-search input:hover, .btn-date button:hover, #btn_people:hover {
	background-color: #d7d7d7;
}

.input-search input:focus, #btn_date:focus, #btn_people:focus {
    border: 2px solid black;
    background-color: #fff;
    outline: none; /* 기본 포커스 스타일 제거 */
}

.hidesearch.show {
	bottom: 0;
}

.searchcontent {
	display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.eventsection {
	width: calc(100% - 100px);
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}

.eventsection p {
	margin-bottom: 20px;
}

.sectionpage {
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
}

.slides {
	display: flex;
	transition: transform 0.5s ease-in-out;
	gap: 20px;
	width: calc(( 100% - 40px)* 3/3);
}

.event.list {
	width: calc(( 100% - 40px)/3);
	flex-shrink: 0;
}

.event.list img {
	width: 100%;
	height: auto;
}

.btn_sectionpage {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}

.btn_sectionpage.prev {
	left: -30px;
	top: 100px;
}

.btn_sectionpage.next {
	right: -30px;
	top: 100px;     
}

.btn_sectionpage button {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #ddd;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.dots {
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0 2px;
}

.dot.active {
	background-color: #717171;
}

.footer {
	margin-top: 50px;
}

/* --------------- signmain 페이지 css 설정 --------------- */
.signmain {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
	width: 400px;
	justify-content: center;
}

.signmaingtext {
	margin-bottom: 60px;
}

.signlogo {
	display: flex;
	height: 22px;
	justify-content: center;
	margin-bottom: 16px;
	position: relative;
}

.signlogo .strikethrough {
	background-color: #ebebeb;
	height: 1px;
	position: absolute;
	top: 9px;
	width: 100%;
}

.signlogo .signlogotext {
	padding: 0 8px;
	background-color: #fff;
	color: #858585;
	z-index: 1;
}

.sociallogin button {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'SUIT-Regular';
	font-weight: bold;
}

.naver button {
	border: none;
	background-color: #00C73C;
}

.kakao button {
	border: none;
	background-color: #FAE100;
}

.google button {
	border: 1px solid rgba(0, 0, 0, .16);
	background-color: #fff;
}

.email button {
	border: none;
	background-color: #fff;
}

.email button:hover {
	border: none;
	background-color: #e7f1fc;
}

.business button {
	border: none;
	background-color: #fff;
	color: #4285F4;
}

.business button:hover {
	border: none;
	background-color: #e7f1fc;
}

/*---------------userlogin페이지---------------*/

.login input {
	width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0 15px;
    font-size: 16px;
}

.login h4 {
	text-align: left;
	margin-bottom: 10px;
}

.login {
	display: flex;
    flex-direction: column;
}

.btn-login button{
	width: 100%;
    height: 40px;
    margin: 20px 0px;
    border: none;
    background-color: #0060ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login button:hover {
	background-color: #3480ff;
}

.loginfunction {
	display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.loginfunction a{
	color: black;
}

.logincheckbox {
	display: flex;
    align-items: center;
}

.loginsignup h5{
	margin-bottom: 10px;
}

/*-------------------------유저회원가입페이지--------------------------*/
.accept-all {
	display: flex;
    align-items: center;
    background-color: #e7e7e7;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-top: 15px;
}

.accept-all label{
	display: flex;
    align-items: center;
    cursor: pointer;
}

.accepttext {
	font-size: 10px;
    color: #838383;
    font-weight: 200;
    margin-left: 10px;
}

.accept-all input {
	margin-right: 10px;
}

.acceptitem {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accept {
	font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 15px;
}

.accept label{
	cursor: pointer;
}

.btn-signup {
	width: 100%;
    height: 40px;
    margin: 20px 0px;
    border: none;
    background-color: #0060ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-signup:hover {
background-color: #3480ff;
}

#next-btn {
	width: 100%;
    height: 40px;
    margin: 20px 0px;
    border: none;
    background-color: #0060ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#next-btn:hover {
background-color: #3480ff;
}

/*---------------------유저회원가입 2번째 페이지-----------------------*/
.signupcontent {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signupcontent button {
	cursor: pointer;
}

.signinfo {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.business_rsd_reg_num_signinfo {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.regnumfile {
	margin: 10px 0;
}

.regnumtext {
	margin-top: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0 15px;
    font-size: 16px;
}

.addresssigninfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.addressbox {
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.addressbox input {
	width: 45%;
}

.addressbox button {
	width: 30%;
	margin: 10px 0px;
    border: 1px solid lightgray;
    height: 25px;
}

.addresstitle {
	margin-bottom: 10px;
}

.namecheck button {
	margin: 10px 0px;
    border: 1px solid lightgray;
    width: 50%;
    height: 25px;
}

.addresssigninfo input{
	width: 49%;
	height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid lightgray;
        border-radius: 5px;
}

.addressinput {
	display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.gendersigninfo {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.namecheck {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.namecheck button {
	width: 20%;
}

.nickname {
	width: 75%;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.signinfo input {
	margin-top: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0 15px;
    font-size: 16px;
}

.nicknamesigninfo {
	margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.namecheck button {
	width: 20%;
    margin: 10px 0px;
    border: 1px solid lightgray;
    height: 25px;
}

.gender input{
	margin: 10px 0;
}

/* -- 자바스크립트 class add/remove로 사용하기 위한 css -- */
.display-none {
	display : none;
}
/*---------------------------------------리스트페이지-----------------------------------------*/

.content-top-text {
	margin-top: 50px;
}

.content-top-search {
	display: flex;
    justify-content: center;
}

.content-top, .content-main {
	width: 90%;
	margin: 0 auto;
}

.roomlist {
	display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.roomthumbnail {
	padding: 30px;
    display: flex;
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 65px;
    background-color: #F5F7FA;
}

.roomphoto {
	width: 80%;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 25px;
}

.roominfo {
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roominfo-price {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.roominfo-price h5 {
    color: #999999;
    text-decoration-line: line-through;
}

/*-------------------------상세페이지----------------------------*/


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.container-roominfo {
    padding-top: 160px;
    scroll-behavior: smooth;
}

.sticky-nav {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 999;
    background-color: white;
    display: flex;
    padding: 30px 300px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid lightgray;
}

.sticky-nav.show {
    transform: translateY(0);
}

.sticky-nav ul {
    list-style: none;
    display: flex;
    /* gap: 20px; */
    justify-content: space-around;
}

.sticky-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sticky-nav ul li.active a {
    border-bottom: 2px solid blue !important;
}

#section1, #section2, #section3, #section4, #section5 {
	width: 85%;
    margin: 0 auto;
}

.content-mainphoto {
	display: flex;
	gap: 8px;
	margin-bottom: 50px;
}

.subphoto {
	display: flex;
    width: 50%;
    flex-direction: column;
    height: 400px;
	gap: 8px;    
}

.mainphoto {
	border: 1px solid black;
	width: 50%;
	height: 400px;
	padding: 10px;
	border-radius: 20px;
}

.photosection {
    display: flex;
    height: 50%;
    gap: 8px;
}

.photo2, .photo3, .photo4 {
	width: 50%;
	border: 1px solid black;
	padding: 10px;
	border-radius: 20px;
}

.photo5 {
	width: 50%;
	border: 1px solid black;
	padding: 10px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.btn-photo {
	display: flex;
    justify-content: flex-end;
}


.btn-photo button {
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	font-family: 'SUIT-Regular';
    font-weight: bold;
    font-style: normal;
}

.roominfo-top-map {
	margin: 20px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    height: 500px;
}

.sectionline {
	width: 100%;
    height: 2px;
    background-color: #a7a7a7;
    margin: 50px 0;
}

.content-roominfo-listsection {
	margin: 50px 0;
    background-color: #F5F7FA;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}

.listsection-photo {
	border: 1px solid;
    width: 35%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listsection-photo button {
    width: 40px;
    height: 30px;
    background-color: #636363;
    border: none;
    padding: 5px;
    font-size: 11px;
    border-radius: 10px;
    color: #fff;
    font-family: 'SUIT-Regular';
    font-style: normal;
    align-content: right;
    align-self: self-end;
    cursor: pointer;
}

.listsection-main {
	width: 100%;
}

.listmain-content {
	display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 25px 0;
}

.listmain-remainder {
	text-align: right;
}

.listmain-remainder button{
	background-color: #1273E4;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'SUIT-Regular';
    font-style: normal;
    cursor: pointer;
}

.listsection-roominfo {
	width: 100%;
}

.listsection-roominfo-text {
	display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 25px 0;
}

.listsection-roominfo-text h6 {
	margin-right: 20px;
}

.review-section-main {
	display: flex;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 40px;
    margin-top: 40px;
}

.review-section-title {
	border-bottom: 1px solid #a7a7a7;
	padding-bottom: 10px;
}

.userinfo-review {
	display: flex;
}

.review-section-left {
	width: 20%;
}

.review-right-score {
	margin-bottom: 40px;
}

.review-section-right {
	padding: 0 30px;
	border-left: 1px solid #a7a7a7;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
}
/*리뷰섹션 사용자등록 리뷰사진*/
.review-right-photo {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.review-right-photo:hover .btn_reviewpage {
    opacity: 1;
    visibility: visible;
}

.reviewsection-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.reviewsection-photo {
    flex-shrink: 0;
    width: calc(100% / 3 - 20px); /* 슬라이드 하나의 너비 (3개의 슬라이드가 동시에 보이도록 설정) */
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reviewsection-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_reviewpage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(133, 133, 133, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    opacity: 0; /* 기본 상태에서 투명하게 설정 */
    visibility: hidden; /* 기본 상태에서 보이지 않도록 설정 */
    transition: opacity 0.3s ease-in-out;
}

.btn_reviewpage.prev {
    left: 10px;
}

.btn_reviewpage.next {
    right: 10px;
}

.btn_reviewpage button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.reviewsection-roominfo h5 {
	margin-bottom: 10px;
}

.reviewsection-msg {
    position: relative;
    max-width: 100%;
}

.review-message {
    margin: 0;
    padding: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 표시할 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    mask-image: linear-gradient(180deg, black 60%, transparent 100%);
}

.review-message.expanded {
    -webkit-line-clamp: unset; /* 확장 시 제한을 풀어줌 */
    overflow: visible;
    mask-image: none;
}

.toggle-button {
    background: none;
    border: none;
    color: #656565;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin: 10px 0 0;
    font-family: 'SUIT-Regular';
    font-weight: bold;
    font-style: normal;
}

.reviewsection-adminmsg {
	margin-top: 20px;
	background-color: #a3a3a3;
    border-radius: 10px;
    padding: 10px;
}

.adminmsg-msg {
	margin-top: 10px;
}

.adminmsg-date {
	display: flex;
	align-items: center;
}

.footer {
	padding: 50px;
	background-color: #e7e7e7;
}

.footer-top-service {
	display: flex;
	justify-content: space-between;
}

.footer-top h5{
	color: #707070;
	margin-top: 10px;	
}

.footer-mid {
	margin: 50px 0;
}

.footer-bottom {
	display: flex;
    gap: 30px;
    color: #707070;
}

.info-section-title h1, .info-section-text h1{
	margin-bottom: 30px;
}

.infosection-bottom ul{
	padding-left: 20px;
    margin-top: 10px;
    color: #9d9d9d;
}

.infosection-bottom ul li {
    margin: 3px 0;
}

.infosection-bottom h3 {
	margin-top: 30px;
}

/*상세페이지 사진 모두보기*/
/* 모달 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
	text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    /* max-width: 1000px; */
    position: relative;
    border-radius: 10px;
    height: 720px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 갤러리 슬라이드 */
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-image-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-image {
    width: 90%;
    height: auto;
    max-height: 500px;
    border-radius: 10px;
}

.gallery-prev, .gallery-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    width: 45px;
}

/* 버튼을 사진 밖에 위치시키기 위해 left와 right 값을 조정 */
.gallery-prev {
    left: -50px; /* 사진 밖으로 버튼을 이동 */
}

.gallery-next {
    right: -50px; /* 사진 밖으로 버튼을 이동 */
}

.thumbnail-container {
    display: flex;
    gap: 10px;
}

.gallery-thumbnail {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.gallery-thumbnail:hover, .gallery-thumbnail.active {
    border-color: #1273E4; /* 원하는 색상으로 변경 가능 */
}

.modal-roomlist {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.modal-roomlist-room1 button {
    padding: 0 10px;
    border-radius: 10px;
    background: transparent;
    font-family: 'SUIT-Regular';
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.modal-roomlist-room1:active {
	background-color: #1273E4;
	color: #fff
}