@charset "UTF-8";

/* ------- top 설정 ------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* a {
	text-decoration: none;
}

body, html {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
}

.nav-top {
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.nav-top-left img {
	width: 30px;
	height: auto;
}

.nav-top-left {
	width: 17%;
}

.nav-top-right {
	width: 17%;
}

.hidenav {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.3s;
	z-index: 25;
}

.hidenav.show {
	left: 0;
}

.hidenavcontent {
	margin-top: 100px;
}

.hidenavcontent ul {
	list-style-type: none;
	padding: 0;
}

.hidenavcontent ul li {
	padding: 8px 16px;
}

.hidenavcontent ul li a {
	color: black;
	text-decoration: none;
	display: block;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: black;
}

.subcategories {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-out;
}

.subcategories.show {
	transition: max-height 0.5s ease-out;
}

.subcategories li {
	opacity: 0;
}

.category {
	cursor: pointer;
}

.nav-top-right button {
	width: 120px;
	height: 50px;
	background-color: transparent;
	border: 1px solid lightgray;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
}

.nav-top-right button:hover {
	background-color: lightgray;
	border: 1px solid lightgray;
	cursor: pointer;
}

.nav-top-center a {
	font-family: 'SUIT-Regular';
	font-weight: normal;
	font-style: normal;
}

#success-login {
	display: flex;
}

#mypage-btn {
	width: 100px;
	margin-right: 3px;
}

#logout-btn {
	width: 80px;
}

/* ------- top 설정 ------- */


/* -----mypage sidebar 설정-----*/
.main {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 30px auto;
}

.mypage-sidebar {
	width: 350px;
	font-size: 20px;
	margin-right: 30px;
}

.mypage-sidebar ul {
	list-style-type: none;
	/*여기 배경이 투명해야 hover 정상 적용*/
	background-color: rgba(255, 255, 255, 0);
}

.mypage-sidebar li {
	width: 100%;
	height: 70px;
	padding: 0 20px;
	border: 1px solid lightgray;
}

.mypage-sidebar a {
	height: 100%;
	color: black;
	text-decoration: none;
	margin: auto 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mypage-sidebar li:first-child {
	border-radius: 10px 10px 0 0;
}

/* 마지막 li 요소에서 border-bottom 제거 */
.mypage-sidebar li:last-child {
	border-radius: 0 0 10px 10px;
}

.mypage-sidebar li:hover {
	cursor: pointer;
	background-color: lightgray;
	color: white;
}

/* -----mypage sidebar 설정-----*/


/* ------- userCheck 페이지 ------- */
.pwcheck_content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#password-container input {
	width: 300px;
	height: 50px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 0 15px;
	font-size: 16px;
}

.paaword-btn {
	width: 70px;
	height: 50px;
	margin-left: 3px;
	background-color: #1273E4;
	color: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	background-color: #1273E4;
}

.paaword-btn:hover {
	background-color: lightgray;
	border: 1px solid lightgray;
	cursor: pointer;
}