@charset "UTF-8";

/* Reset 기본 설정 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'SUIT-Regular', sans-serif;
	background-color: #f8f9fa;
	color: #333;
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */
	justify-content: center; /* 수평 중앙 정렬 */
}

/* 로그인 컨테이너 스타일 */
.login-container {
	width: 100%;
	max-width: 400px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	padding: 30px;
	text-align: center; /* 텍스트를 중앙 정렬 */
}

.login-container h2 {
	margin-bottom: 20px;
	color: #495057;
	font-size: 24px;
	font-weight: bold;
}

.form-group {
	margin-bottom: 20px;
	text-align: left; /* 라벨과 인풋을 왼쪽 정렬 */
}

.form-group label {
	font-weight: bold;
	color: #495057;
	display: block; /* 라벨을 블록 요소로 변경하여 인풋과 간격 확보 */
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	font-size: 16px;
}

.form-group input:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	background-color: #007bff;
	color: white;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}

#errorMessage {
	color: red;
	margin-top: 15px;
	display: none; /* 기본적으로 숨김 */
	font-size: 14px;
}