

/* main contents */
.contents_main{
	width: 375px;
	margin:20px;
	padding: 5px;
}

.bold-effect {
	border: 2px solid #D1CCC8;
}

.division-line{
	border-top: 1px solid #D1CCC8;
    margin: 3px auto;
    width: 63vw;
}

/* footer */

.footer {
	margin-top: 2px;
}