@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* a {
	color: inherit; 
	text-decoration: none;
}

body, html {
	width: 100%;
}

body {
	font-family: 'SUIT-Regular';
	font-weight: bold;
	font-style: normal;
	background-color: #A7A9AC;
	display : flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

.container_backSize{
	width: 90vw;
	height: 85vh;
	margin: 0 auto;
}

.bold-effect {
	border: 2px solid #D1CCC8;
}

.division-line{
	border-top: 1px solid #D1CCC8;
    margin: 3px auto;
    width: 95%;
}