<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="user_mapper">

	<!-- login 페이지에서 가져온 정보 기반으로 유저 검색 -->
	<select id="findUserByUserSearchCondition" parameterType="UserSearchCondition" resultType="User">
		SELECT * FROM user_info
		WHERE user_status = '1'
		AND user_email = #{userEmail}
		AND user_pw = #{userPw}
		<!-- AND user_type = #{userType} -->
		<if test="userType == null">
			AND user_type != 'ADM'
		</if>
		<if test="userType != null">
			AND user_type = #{userType}
		</if>
	</select>
	
	<!-- 회원가입 페이지에서 가져온 정보 바탕으로 DB에 유저정보 저장 -->
	<insert id="saveUserInfo" parameterType="User">	
		INSERT INTO user_info
		VALUES(#{userCode}, #{userType}, #{userEmail}, #{userPw},
			#{userNickname}, #{userName}, #{userRsdRegNum}, #{userPhoneNum},
			#{userPostalCode}, #{userAddr}, #{userAddrLine}, SYSDATE, '1')
	</insert>
	
	<!-- user_code의 다음 번호를 자동으로 생성하는 쿼리문 -->
	<select id="getNextUserCode" resultType="int">
		SELECT NVL(MAX(user_code), 0)+1 new_user_code FROM user_info
	</select>
	
	<!-- 닉네임으로 유저 검색 -->
	<select id="findUserByNickname" parameterType="String" resultType="User">
		SELECT * FROM user_info
		WHERE user_status = '1'
		AND user_nickname = #{userNickname}
	</select>
	
	<!-- 유저코드로 유저 검색 -->
	<select id="findUserByUserCode" parameterType="int" resultType="User">
		SELECT * FROM user_info
		WHERE user_status = '1'
		AND user_code = #{userCode}
	</select>
	
	<!-- 유저 정보 업데이트 -->
	<update id="updateUserInfo" parameterType="User">
		UPDATE user_info
		SET user_pw = #{userPw},
    		user_nickname = #{userNickname},
    		user_phone_num = #{userPhoneNum},
    		user_postal_code = #{userPostalCode},
    		user_addr = #{userAddr},
    		user_addr_line = #{userAddrLine}
		WHERE user_code = #{userCode}
	</update>
	
	<select id="findUserById" parameterType="String" resultType="User">
		SELECT * FROM user_info
		WHERE user_email = #{id}
	</select>
	
</mapper>