<?xml version="1.0" encoding="UTF-8"?>							
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"							
					"http://mybatis.org/dtd/mybatis-3-config.dtd">									
<configuration>							
	
	<settings>						
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
	</settings>
	
	<typeAliases>
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.user.UserSearchCondition" alias="UserSearchCondition"/>
		<typeAlias type="com.app.dto.user.ModifyUser" alias="ModifyUser"/>
		<typeAlias type="com.app.dto.reservation.Reservation" alias="Reservation"/>
		<typeAlias type="com.app.dto.business.Business" alias="Business"/>
	</typeAliases>
							
</configuration>							
